* {
    font-family: Optimistic Text, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
    background-color: #24272f;
    color: white;
}

.navbar {
    background-color: #353a45;
    border-radius: 50px;
    padding: 15px;
}

.navbarbuttontext {
    color: #7fc1dd;
    padding: 25px;
    margin: 25px;
}

.titlebar {
    padding: auto;
}

.titlebartext {
    margin: auto;
    font-weight: bold;
}

.navbarbutton {
    border: none;
    background-color: #555f75;
    color: #555f75;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}